email_account: xxxxx
app_password: xxxxx
smtp_server: xxxxx
smtp_port: xxxxx

email_subject: "Secret Santa Assignment!"
email_template: "
{{.Gifter.Name}},\n\n
You are {{.Giftee.Name}}'s Secret Santa!\n
"